<div class="profile">
  <div class="container">
    <h1><%= @title %></h1>
    <br>
    <p>Username: <strong><%= @user.username %></strong><br>
       Role: <strong><%= @role %></strong><br>
       Email: <strong><%= @user.email %></strong></p>
    <%=link_to "Edit Profile", edit_path%>
  </div>
</div>
