<p id="notice"><%= notice %></p>
<h1><%= @title %></h1>
<br>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% if current_user && current_user.admin? %>
      <% @images.in_groups_of(5).each do |group| %>
        <div class='row'>
          <tr>
            <% group.each do |image| %>
              <% if image %>
                <td> <%= link_to image_tag(image.pic, style: 'object-fit:cover; width:180px; height:180px'), image %>
                <%= link_to 'Details', image %></td>
              <% end %>
            <% end %>
          </tr>
        </div>
      <% end %>
    <% else %>
      <% @images.in_groups_of(6).each do |group| %>
        <div class='row'>
          <tr>
            <% group.each do |image| %>
              <% if image %>
                <td> <%= image_tag(image.pic, style: 'object-fit:cover; width:175px; height:175px') %></td>
              <% end %>
            <% end %>
          </tr>
        </div>
      <% end %>
    <% end %>

  </tbody>
</table>

<% if current_user && current_user.admin? %>
  <br>
  <%= link_to 'Upload New Image', new_image_path %>
<% end %>

<br>
