<!DOCTYPE html>
<html>
  <head>
    <title>Keenan's Charity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class="container navbar-brand"><%= link_to image_tag("logok2.jpg", width: '150px'), home_path %></h1>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-link"><%= link_to "Home", home_path %></li>
        <li class="nav-item nav-link"><%= link_to "Gallery", gallery_path %></li>
        <li class="nav-item nav-link"><%= link_to "Opportunities", opportunities_path %></li>
        <li class="nav-item nav-link"><%= link_to "About", about_path %></li>
        <% if current_user && current_user.admin? %>
          <li class="nav-item nav-link"><%= link_to "Designers", designers_path %></li>
        <% end %>
        <% if current_user && current_user.accepted_designer? %>
          <li class="nav-item nav-link"><%= link_to "Upload", new_image_path %></li>
        <% end %>
      </ul>
    </div>
    <div class="nav pull-right">
        <% if current_user %>
           <ul class="navbar-nav mr-auto">
              <li class="nav-item nav-link"><%= link_to "My Account", profile_path %></</li>
              <li class="nav-item nav-link"><%= link_to "Log Out", logout_path, method: "delete" %></li>
           </ul>
         <% else %>
           <ul class="navbar-nav mr-auto">
              <li class="nav-item nav-link"><%= link_to "Login", 'login' %></li>
              <li class="nav-item nav-link"><%= link_to "Sign Up", 'signup' %></li>
           </ul>
        <% end %>
    </div>
    </nav>
    <div class="jumbotron container">
    <%= yield %>
    </div>
  </body>
</html>
